/* Write your code here. */

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
}

.miniContainer {
  min-height: 90vh;
  width: 90%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingText {
  color: #cb8805;
  font-size: 36px;
  font-weight: bold;
}

.onlyForWidth {
  width: 80%;
}
