/* Write your code here. */
body {
  margin: 0px;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  min-height: 100vh;
  background-size: cover;
}
.heading {
  color: white;
  font-weight: bold;
  font-family: "Roboto";
}
.image {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .image {
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .image {
    height: 250px;
    width: 250px;
  }
}
