.individualListItem {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.row {
  display: flex;
  justify-content: space-around;
}
.logo {
  height: 15px;
  width: 15px;
  margin-top: 13px;
  margin-left: 40px;
  margin-right: 10px;
}
.time {
  color: black;
  font-size: 12px;
}
.buttonOne {
  background-color: transparent;
  border: none;
}
