/* Write your CSS here */
.listType {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 45%;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  height: 200px;
  width: 200px;
}

.thumbnail {
  height: 200px;
  width: 200px;
}

.nameOfTheDance {
  font-size: 18px;
  color: white;
}

.location {
  color: white;
}
